<div>
  <h2>Your form inputs</h2>
  <h4>Song name</h4>
  <h3>
    <%= @song_name %>
  </h3>
  <h4>Artist name</h4>
  <h3>
    <%= @artist_name %>
  </h3>
  <h4>Rating</h4>
  <h3>
    <%= @rating_num %>
  </h3>
</div>
